@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --primary-color: #fac1d9;
  --secondary-color: #292c2d;
  --text-color: #ffffff;
  --border-color: #3d4142;
  --hover-color: #f8a6c5;
  --text-dark-color: #333333;
  --text-light-dark-color: #777979;
  --text-red-color: #f60000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #111315;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--text-color);
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  overflow-x: hidden;
}


.common-button {
  background-color: #fac1d9;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  width: 143px;
  height: 64px;
  color: #333333;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.common-button:hover {
  background-color: #f8a6c5;
  color: #222222;
  transform: translateY(-2px);
}

.common-button:active {
  background-color: #f492b1;
  transform: translateY(0);
}

/* Body */

.page-wrapper {
  display: flex;
}

.body-wrapper {
  display: flex;
  margin-left: 171px;
  height: 100vh;
  flex: 1;
  flex-direction: column;
  padding: 0 30px;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--text-light-dark-color);
}

.text-danger {
  color: var(--text-red-color);
}

/* Body End */

/* Mobile view start */

@media (max-width: 720px) {
  .main-heading {
    font-size: 40px;
  }

  .login-back {
    width: 90%;
    margin: 10px auto;
  }

  .user-input,
  .end-section {
    width: 100%;
  }
}

/* Modile End */
